<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Validación un formulario</title>
<script type="text/javascript">
function validacion() {
valor1 = document.getElementById("alId").value;
valor2 = document.getElementById("idVc").value;
   if (valor1 == null) {
    // Si no se cumple la condicion...
    alert('El campo no debe ser vacío');
    return false;
  }
  
  if (valor2 == null) {
    // Si no se cumple la condicion...
    alert('El campo no debe ser vacío');
    return false;
 
  return true;
}
</script>
</head>
<body>
<form name="alquilarForm" ng-submit="alquilar()" ng-controller="alquilarCtrl"  onsubmit="return validacion()">
    <h2 class="form-title">Alquilar</h2>
    <div class="row">
        <div class="col-md-6">
            <label>Id del Usuario</label>
            <input ng-model="alquiler.id" type="number" id="alId" class="form-control" required/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Id del Vcub</label>
            <input ng-model="alquiler.idVcub" type="number" id="idVc" class="form-control" required/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <input type="submit" value="submit" class="btn btn-default">
        </div>
    </div>        
</form>

</body>
</html>




