<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
                 <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                    </div>
        <div id="navbar" class="navbar-collapse collapse" >
            <ul class="nav navbar-nav">
                <li ng-class="{active:toolbar.isSelected(1)}"ng-show="userRole === 'administrador'" >
                    <a  href ng-click="toolbar.selectTab(1)" > <span class="glyphicon glyphicon-plus"></span>Agregar Vcub</a>
                </li>
                <li ng-class="{active:toolbar.isSelected(2)}" ng-show="role.role === 'administrador' " >
                    <a href ng-click="toolbar.selectTab(2)"> <span class="glyphicon glyphicon-check"></span>Agregar Tranvia</a>
                </li>
                 <li ng-class="{active:toolbar.isSelected(3)}">
                    <a href ng-click="toolbar.selectTab(3)"> <span class="glyphicon glyphicon-check"></span> Mobibus</a>
                </li>
                <li ng-class="{active:toolbar.isSelected(4)}"ng-show="userRole === 'administrador'">
                    <a href ng-click="toolbar.selectTab(4)"> <span class="glyphicon glyphicon-plus"></span>Reservar</a>
                </li>
                <li ng-class="{active:toolbar.isSelected(5)}">
                    <a href ng-click="toolbar.selectTab(5)"> <span class="glyphicon glyphicon-check"></span>Ver Vcub</a>
                </li>
                <li ng-class="{active:toolbar.isSelected(6)}"ng-show="userRole === 'administrador'">
                    <a href ng-click="toolbar.selectTab(6)"> <span class="glyphicon glyphicon-plus"></span>Agregar Ubicacion</a>
                </li>
                <li ng-class="{active:toolbar.isSelected(7)}">
                    <a href ng-click="toolbar.selectTab(7)"> <span class="glyphicon glyphicon-check"></span>Ver Ubicaciones</a>
                </li>
                <li ng-class="{active:toolbar.isSelected(8)}">
                    <a href ng-click="toolbar.selectTab(8)"> <span class="glyphicon glyphicon-check"></span>Ver Tranvias</a>
                </li>
                 <li ng-class="{active:toolbar.isSelected(9)}"ng-show="userRole === 'administrador'">
                    <a href ng-click="toolbar.selectTab(9)"> <span class="glyphicon glyphicon-check"></span>Agregar Usuario</a>
                </li>
                 <li ng-class="{active:toolbar.isSelected(10)}">
                    <a href ng-click="toolbar.selectTab(10)"> <span class="glyphicon glyphicon-check"></span>Usuarios</a>
                 
                 </li>
                 
                 
                   <li ng-class="{active:toolbar.isSelected(11)}"ng-show="userRole === 'administrador'">
                        <a href ng-click="toolbar.selectTab(11)"> <span class="glyphicon glyphicon-check"></span>Alquilar Vcub</a>
               
                </li>
                 
                    <li ng-class="{active:toolbar.isSelected(12)}"ng-show="userRole === 'administrador'">
                    <a href ng-click="toolbar.selectTab(12)"> <span class="glyphicon glyphicon-check"></span>Registrar devolucion de Vcub</a>
                </li>
                 
                    <li ng-class="{active:toolbar.isSelected(13)}">
                    <a href ng-click="toolbar.selectTab(13)"> <span class="glyphicon glyphicon-check"></span>Ranking conductores</a>

                </li>
              
             
                <li ng-class="{active:toolbar.isSelected(14)}"ng-show="userRole === 'administrador'">
                    <a href ng-click="toolbar.selectTab(14)"> <span class="glyphicon glyphicon-plus"></span>Registrar mobibus</a>
                </li>
                    <li ng-class="{active:toolbar.isSelected(15)}">
                    <a href ng-click="toolbar.selectTab(15)"> <span class="glyphicon glyphicon-plus"></span>Reservas</a>
                </li>
                
                 
                <li ng-class="{active:toolbar.isSelected(16)}"ng-show="userRole === 'administrador'" >
                    <a href ng-click="toolbar.selectTab(16)"> <span class="glyphicon glyphicon-plus"></span>Cancelar Reserva</a>
                </li>
                <li ng-class="{active:toolbar.isSelected(17)}"ng-show="userRole === 'administrador'">
                    <a href ng-click="toolbar.selectTab(17)"> <span class="glyphicon glyphicon-plus"></span>Registrar conductor</a>
                </li>
                <li ng-class="{active:toolbar.isSelected(18)}">
                    <a href ng-click="toolbar.selectTab(18)"> <span class="glyphicon glyphicon-plus"></span>Login</a>
                </li>
                 
            
            </ul>
        </div><!--/.nav-collapse -->
   
</nav>