<form name="tranviaForm" ng-submit="addTranvia()" ng-controller="tranviaCtrl" novalidate>
    <h2 class="form-title">Agregar Tranvia</h2>
    <div class="row">
        <div class="col-md-6">
            <label>Id</label>
            <input ng-model="tranvia.id" type="number" class="form-control" required/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Temperatura</label>
            <input ng-model="tranvia.tempatura" type="number" class="form-control" required/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Coordenada: </label>
            <input ng-model="tranvia.coordenada" type="text" class="form-control" required/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Linea: </label>
            <input ng-model="tranvia.linea" type="text" class="form-control" required/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Kilometraje:</label>
            <input ng-model="tranvia.kilometraje" type="number" class="form-control" required/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <input type="submit" value="submit" class="btn btn-default">
        </div>
    </div>        
</form>

