<form name="usuarioForm" ng-submit="alquilar()" ng-controller="usuarioCtrl" novalidate>
    <h2 class="form-title">Agregar Usuario</h2>
    <div class="row">
        <div class="col-md-6">
            <label>Documento Usuario</label>
            <input ng-model="usuario.documento" type="number" class="form-control" required/>
        </div>
    </div>
    
     <div class="row">
        <div class="col-md-6">
            <label>Id Vcub</label>
            <input ng-model="usuario.vcubAL" type="text" class="form-control" required/>
        </div>
    </div>
         
</form>

